.item-welcome{
    padding: 15px 10px;
    font-weight: bold;
    color: gray;
    border-bottom: 1px solid lightgray;
    i{
        font-size: 25px;
        &:first-child{
            cursor: pointer;
        }
        &:nth-child(2){
            margin-left: 10px;
        }
    }
    span{
        margin-left: 10px;
        font-size: 16px;
        vertical-align: top;
        word-break: break-all
    }
    &-namealbum{
        line-height: 30px;
    }
    &-namephoto{
        line-height: 25px;
    }    
}