.photos{
    display: flex;
    flex-wrap: wrap;
    margin-top: 15px;
    width: 95%;
}

.photo-container{
    overflow: auto;
    display: flex;
    justify-content: center;
    width: 100%;
    align-items: flex-start;
}

.loading{
    text-align: center
}